<!-- Modal nuevo cuestionario-->
<div class="modal fade" id="divCuestionario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="--bs-modal-width: 830px;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="titleNuevoCuestionario">Nuevo Cuestionario</h5>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Nombre del cuestionario</span>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="Nombre Cuestionario" id="nombreCuestionario" placeholder="Digite el nombre del cuestionario" required="" maxlength="100">
                        </div>
                    </div>
                    <span style="color:darkred; display: none" id="validacionCuestionario"></span>
                </div>

                <div class="contenedor" style="height: 350px; overflow-y: scroll; overflow-x: hidden;">
                    <table id="" class="table table-bordered dt-responsive  nowrap w-100">
                        <tbody id="tbVerCuestionarioPreguntas"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onClick="GuardarCuestionarioNuevo()" id="btnGuardarCuestionario">Guardar Cuestionario</button>
                <button type="button" class="btn btn-success" style="display: none;" onClick="GuardarCuestionarioEditado()" id="btnEditarCuestionario">Editar Cuestionario</button>
            </div>
        </div>
    </div>
</div>