<!-- Right Sidebar -->
<div id="SidebarAddCuestionario" class="SidebarAddCuest">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebarCuest()">×</a>
    <div class="sidebar-content">
        <h2>Cuestionarios</h2>
        <hr>
        <div class="form-container">
            <h5>CUESTIONARIOS DISPONIBLES</h5>

            <div class="table-responsive">
                <table id="tbCuestionarios" class="table table-bordered display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th width="20%">Tipo de Cuestionario</th>
                            <th width="70%">Descripcion</th>
                            <th width="10%">Agregar</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Right bar overlay-->
<div id="overlayCuest" class="overlay" onclick="closeSidebarCuest()"></div>