<div class="modal fade" id="divAsignarActividades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="--bs-modal-width: 800px;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title">ASIGNAR ACTIVIDADES AL PLAN DE TRABAJO</h5>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label for="selectEquipoAuditores">Equipo de Auditores</label>
                        <select class="form-select form-control" id="selectEquipoAuditores">
                            <option value="">- SELECCIONAR -</option>
                        </select>
                    </div>

                    <table id="tbActividades" class="table table-bordered dt-responsive  nowrap w-100">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>Nombre de la Actividad</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onClick="AsignarActividad()" id="btnAsignarActividad">Asignar Actividad</button>
            </div>
        </div>
    </div>
</div>