<div class="modal fade" id="verCuestionarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="--bs-modal-width: 800px;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title">CUESTIONARIO</h5>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table id="" class="table table-bordered dt-responsive  nowrap w-100">
                        <tbody id="tbVerCuestionarioPreguntas">
                            <!-- Aquí se llenarán las filas de la tabla dinámicamente -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>