.vs
.vs\Skote
obj/project.nuget.cache
obj/SIA.csproj.nuget.dgspec.json
obj/SIA.csproj.nuget.g.props
obj/SIA.csproj.nuget.g.props
obj/SIA.csproj.nuget.dgspec.json
obj/Release/net7.0/SIA.RazorAssemblyInfo.cache
obj/Release/net7.0/SIA.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net7.0/SIA.csproj.AssemblyReference.cache
obj/Release/net7.0/SIA.assets.cache
obj/Release/net7.0/SIA.AssemblyInfoInputs.cache
obj/Release/net7.0/SIA.AssemblyInfo.cs
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net7.0/SIA.RazorAssemblyInfo.cache
obj/Debug/net7.0/SIA.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/SIA.csproj.AssemblyReference.cache
obj/Debug/net7.0/SIA.assets.cache
obj/Debug/net7.0/SIA.AssemblyInfoInputs.cache
obj/Debug/net7.0/SIA.AssemblyInfo.cs
