.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

    .table th, .table td {
        padding: 10px;
        border: 1px solid #dddddd;
    }

    .table thead th {
        background-color: #f3f3f3;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }


.title {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.content {
    margin-top: 10px;
}

.pdf-list {
    width: 80%;
    margin: 20px auto;
}

.pdf-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

    .pdf-item img {
        width: auto;
        height: 50px;
        margin-right: 20px;
    }

    .pdf-item a {
        text-decoration: none;
        color: black;
    }

        .pdf-item a:hover {
            text-decoration: underline;
        }

.image-container {
    position: relative;
}

    .image-container img {
        width: 400px;
        height: auto;
    }

.text-overlay {
    position: absolute;
    top: 10%;
    right: 2%;
    color: black;
    font-size: 18px;
}

.title-green {
    text-align: center;
    padding-top: 20px;
    color: #186040;
}


.title-black {
    color: black;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.upload-area {
    border: 2px solid #ddd;
    padding: 0px;
    margin: 0 !important;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
}

.upload-warning {
    color: #186040;
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text-area {
    border: 2px solid #ddd;
    padding: 10px;
    margin: 0 !important;
    border-radius: 10px;
    width: 100%;
}

