@{
    ViewBag.Title = "Cuestionario de trabajo";
    ViewBag.pTitle = "CUESTIONARIOS DE TRABAJO";
    ViewBag.pageTitle = "Auditorías";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var estado_cuestionario = "";

    if (ViewBag.ESTADO_CUESTIONARIO == 1 || ViewBag.ESTADO_CUESTIONARIO == 2)
    {
        estado_cuestionario = "disabled"; 
    }
}

<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
<link href="~/css/estiloAuditoriaTrabajo.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h5 style="width: 77%">@ViewBag.TITULO_AUDITORIA</h5>
                    <input type="hidden" value="@ViewBag.CODIGO_CUEST" id="codigo_cuest" />
                </div>
                <div class="form-group" id="divButtons">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="button" onclick="history.go(-1)" class="btn btn-primary">Regresar</button>
                        <button type="button" class="btn btn-primary" onclick="saveQuestion()" @estado_cuestionario>Guardar Cuestionario</button>
                    </div>
                </div>

                <div  id="contenedor-cuestionarios"></div>

                <div class="form-group" id="divButtons">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="button" class="btn btn-primary" onclick="scrollToTop()">Regresar Arriba</button>
                        <button type="button" class="btn btn-primary" onclick="saveQuestion()" @estado_cuestionario>Guardar Cuestionario</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

@section scripts {
    <script src="~/Scripts/Auditorias/AuditoriaTrabajo.js"></script>
}