@{
    ViewBag.Title = "Cuestionario de trabajo";
    ViewBag.pTitle = "CUESTIONARIOS DE TRABAJO";
    ViewBag.pageTitle = "Auditorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />
<link href="~/css/estiloAuditoriaTrabajo.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h5 style="width: 77%">@ViewBag.TITULO_AUDITORIA</h5>
                </div>
                <div class="form-group" id="divButtons">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <button type="button" onclick="history.go(-1)" class="btn btn-primary">Regresar</button>
                        <button type="button" class="btn btn-primary" id="buttonGuardar">Guardar Cuestionario</button>
                    </div>
                </div>

                <div  id="contenedor-cuestionarios"></div>

                @*<div style="display: flex;">
                    <div class="card-tarjet" id="list-cuestionario">
                        <div class="row">
                            <b for="question">Pregunta numero 1</b>
                        </div>
                        <div class="radio-group">
                            <input type="radio" id="cumple" name="evaluacion" value="cumple">
                            <label for="cumple">Cumple</label>
                            <input type="radio" id="parcialmente" name="evaluacion" value="parcialmente">
                            <label for="parcialmente">Cumple Parcialmente</label>
                            <input type="radio" id="no-cumple" name="evaluacion" value="no-cumple">
                            <label for="no-cumple">No Cumple</label>
                            <input type="radio" id="na" name="evaluacion" value="na">
                            <label for="na">N/A</label>
                        </div>
                        <div class="textarea-container">
                            <textarea id="textarea" name="textarea"></textarea>
                        </div>
                        <div class="status pending percentage">
                            <b>Puntaje: </b>
                            50%
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

@section scripts {
    <script src="~/Scripts/Auditorias/AuditoriaTrabajo.js"></script>
}