<!-- Modal nuevo Usuario-->
<div class="modal fade" id="divUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="--bs-modal-width: 500px;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="titleNuevoUsuario">Nuevo Usuario</h5>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Usuario</span>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="Usuario" id="codigoUsuarioEdit" placeholder="Digite el usuario unico" required="" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            @*<span id="codigoUsuarioEdit" style="display:none;"></span>*@
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Nombre del usuario</span>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="Nombre Usuario" id="inputNombre" placeholder="Digite el nombre del usuario" required="" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text">Agencia</span>
                            <select class="form-select form-control" id="selectAgencias">
                                <option value="">- SELECCIONA UNA AGENCIA -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text">Rol</span>
                            <select class="form-select form-control" id="selectRoles">
                                <option value="">- SELECCIONA UN ROL -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text">Cargos</span>
                            <select class="form-select form-control" id="selectCargos">
                                <option value="">- SELECCIONA UN CARGO -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text">Estado</span>
                            <select class="form-select form-control" id="selectEstado">
                                <option value="1">ACTIVO</option>
                                <option value="0">INACTIVO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Numero de identidad</span>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="Numero de identidad" id="inputNumeroIdentidad" placeholder="Digite el numero de identidad del usuario" required="" maxlength="15">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Clave</span>
                            <input type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="Clave" id="inputClave" placeholder="Digite la clave del usuario" required="" maxlength="50">
                            <button class="btn btn-secondary" type="button" id="showHidePassword" onclick="togglePasswordVisibility()">Mostrar</button>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Email</span>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="Email" id="inputEmail" placeholder="Digite el correo del usuario" required="" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onClick="GuardarUsuarioNuevo()" id="btnGuardarUsuario">Guardar Usuario</button>
                <button type="button" class="btn btn-success" style="display: none;" onClick="GuardarUsuarioEditado()" id="btnEditarUsuario">Editar Usuario</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal firma-->
<div class="modal fade" id="divUsuarioFirma" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="--bs-modal-width: 500px;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleFirma">Firma Usuario</h5>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 10px">
                        <div class="input-group">
                            <span id="codigoUsuarioFirma" style="display:none;"></span>
                            <span class="input-group-text"><i class="las la-chess la-2x">&nbsp</i>Nombre del usuario</span>
                            <input type="text" class="form-control" aria-label="Small" disabled aria-describedby="inputGroup-sizing-sm" name="Nombre Usuario" id="inputNombreFirma" required="" maxlength="100">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top: 5px">
                        <div class="input-group">
                            <input type="file" id="fileInput" style="display: none;" accept="image/*" onchange="mostrarFirma(event)">
                            <button id="btnFirmaJefe" type="button" style="border-radius: 10px; height:40px; margin-right: 10px; align-self: center;" class="btn btn-primary" onclick="seleccionarFirma()">Seleccionar Firma</button>
                            <img id="firmaValidador" src='/assets/images/sinfirma.png' width="150" alt='firma' />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onClick="GuardarFirma()" id="btnGuardarFirma">Guardar Firma</button>
            </div>
        </div>
    </div>
</div>