@{
    ViewBag.Title = "Actividades";
    ViewBag.pTitle = "Actividades";
    ViewBag.pageTitle = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/estilo.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <select id="tipoAuditoriaAct" name="tipoAuditoriaAct" class="form-control form-select" onchange="GetActividadesChange()">
                            <option value="">Seleccione un tipo de Auditoría</option>
                        </select>
                    </div>
                    <div class="col-md-8 d-flex align-items-end justify-content-end">
                        <button type="button" style="margin-bottom: 15px;" onClick="NuevaActividad()" class="btn btn-primary">
                            Nueva Actividad
                        </button>
                    </div>
                </div>
                <br />



                <table id="tbActividadesConf" class="table table-bordered dt-responsive w-100">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre Actividad</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Tipo de Auditoría</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

@await Html.PartialAsync("partialView/_AddEditActividad")

@section scripts {
    <script src="~/Scripts/Configuracion/actividades.js"></script>
}